.inner{max-width: 1280px; min-width: 1024px;
       margin: 0 auto;}
h2{font-size: 1.875rem; color: #000;}
h3{font-size: 1.25rem; color: #838383; font-weight: normal;}

#wrap{}
#header{}
#section{}
#footer{}

/*********************header****************************/
#quick{width:60px;height:390px;  
       position:fixed; right:30px;top:120px;z-index: 99999;
       border-radius: 30px;}
#quick li img{width: 100%;}       
#quick li{margin-bottom: 6px;} 
#quick li:last-child{margin-bottom: 0;}  
    
.popup{width: 100%; min-width: 1024px; position: relative; }
.popup img{width: 100%; }
.popup .pop_close{position: absolute; top: 0px; right: 0px; 
                  background-color: #fff; opacity: 0.8;
                  width: 100px; height:100%;
                  border: none;}
.popup .pop_close img{width: 25%;}                  
                   

.all_box{width: 100%; height: 100%; position: fixed; z-index: 9999;
         background: linear-gradient(to bottom, rgba(255,230,168,1) 0%,rgba(255,214,94,1) 50%,rgba(254,191,4,1) 100%); 
         display: none;}
.all_box .all_logo {width: 200px; margin-left: 200px; margin-top: 150px;}
.all_box .all_logo img{width: 100%;}
.all_box #nav{float: left; width: 100%; margin-left: 300px; margin-top: 100px;}
.all_box .depth1 > li{float: left; margin-right: 80px;
                      margin-bottom: 100px; text-align: center; }
.all_box .depth1 > li:last-child{margin-right: 0;}
.all_box .depth1 > li > a{font-size: 1.8rem; color: #fff;  }
.all_box .depth1 .sub li{margin-top: 20px; line-height: 40px; text-align: center;}
.all_box button{float: right; margin-right: 250px; margin-top: -50px;}

/*********************슬라이더 디자인****************/

/**********************슬라이더 디자인 끝***************/




#header:after{content: ''; display: block; clear: both;}
#header .logo{width: 170px; margin-top: 8px; float: left;}
#header .logo img{width: 100%;}
#header .header_top{width: calc(100% - 170px);
                    text-align: right;  float: left;
                    }            
#header .language{margin-top: 10px; 
                  display: inline-block; position: relative; 
                  width: 4rem; text-align: center;/**/ }   
#header .language ul{position: absolute; top: 1.25rem; left: 0; 
                     transition: 0.9s;height:0; overflow: hidden;
                     margin-left: 3px; } 
#header .language ul li{margin-left: 5px;}
#header .language ul li a{font-size: 0.8rem;}
#header .language:hover ul{height: 200px;}
#header .language button{background: none; border: none; font-size: 0.9rem;}
#header .sitemap{background: none; border: none;}
#header .pop_open{width:30px; height: 50px; padding-top: -20px;
                  display: inline-block; margin-left: 10px;
                  transform:translate(0 , -5px)}
#header .pop_open img{width: 100%;}





#header #nav{width:calc(100% - 170px); float: left;
             position: relative;}
#header #nav .depth1 > li{float: left; padding-left: 50px; margin-top: -9px; }
#header #nav .depth1 > li > a{display: block; line-height: 60px;  }
#header #nav .depth1 > li > a:hover{color: rgba(254,191,4,1);}
#header #nav .depth1 ul{background-color: rgba(0, 0, 0, 0.5);
                       font-size: 0.9rem; 
                        color: #fff;
                        width: 75%; 
                        padding: 20px 0 ;
                        position: absolute; 
                        left: 0;
                        top: 50px;
                        display: none;
                        z-index: 999999999;
                        margin-left: 40px;
                        }
#header #nav .depth1 > li:hover ul{display: block;}

#header #nav .depth1 ul li{display: inline-block;padding: 0 20px;}
/*하위메뉴 사이에 점넣을려면 배경그림으로 만들기 background:url(../) no-repeat*/
#header #nav .depth1 ul li:last-child{background:none;}
/*********************section1****************************/
#section1{content: ''; display: block; clear: both; min-width: 1024px;}
#section1 .slider{width: 100%; min-width: 1024px; margin: 0 auto;}
#section1 .slider img{width: 100%; min-width: 1024px;}
#section1 .inner{position: relative;}
#section1 #notice{width: 100%; height: 40px; min-width: 1024px;
                 background-color: rgba(255, 255, 255, 0.5); 
                 position: absolute; top:-44px ; bottom: 0;
                 line-height: 40px; overflow: hidden;  }
#section1 #notice .info{float: left; margin-left: 10px; width: 500px; }
#section1 #notice .info p{float: left; font-size: 1rem; margin-right: 15px;
                          font-weight: 600; color: #121212;}
#section1 #notice .serch{float: right; margin-right: 300px; width: 300px;}

#section1 #notice .serch p{ float: left; font-size: 1rem; 
                           font-weight: 600; color: #121212;}
#section1 #notice .rolling1 ul li{margin-left: 76px;
                              border:1px solid #e0e0e0;height:50px;width:360px;
                              padding-top:5px;}
#section1 #notice .rolling2 ul {margin-left: 76px;}
#section1 #notice .rolling2 a{padding-left: 30px;}



#section1 .slick-arrow{position: absolute; top: 50%; z-index: 9999;
             width: 100px; height: 50px; background: none; 
             border: 2px solid transparent; display: block;
             text-indent: -999999px;}
#section1 .slick-prev{left:50px; background: url("../images/left.png") no-repeat 0 50%;}
#section1 .slick-next{right:50px; background: url("../images/right.png") no-repeat 0 50%;}

#section1 .slick-dots{position: absolute; bottom:50px; 
            width: 100%; text-align: center; }
#section1 .slick-dots li{display: inline-block; margin:0 5px; }
#section1 .slick-dots li button{display: block; border: 1px solid #FFBC00;
                     text-indent: -999999px;
                     width: 15px; height: 15px;
                     border-radius: 50%;
                     background-color: rgba(255, 255, 255, 0.8);}
#section1 .slick-dots li.slick-active button{background-color: #FFBC00;}


/*********************section1****************************/

/*********************section2****************************/
#section2{}
#section2:after{content: ''; display: block; clear: both;}
#section2 h2{text-align: center; margin-top: 70px; }
#section2 h3{text-align: center; margin-top: 20px; }
#section2 .box_all{margin-left:200px; margin-bottom: 110px; }
#section2 .box{float: left; width:calc((100% - 150px) / 3); height: 320px; 
               border-top: 1px solid #ccc; 
               border-left:1px solid #ccc;
               border-bottom:1px solid #ccc ;
               margin-top: 30px; 
               position: relative; }
#section2 .box:last-child{border-right: 1px solid #ccc;}
#section2 .box .b_txt{display: none; }
#section2 .box:hover .b_txt{display: block; }   
#section2 .box:hover .t_txt{margin-top: 100px;}
#section2 .box:hover .img_box{display: none; }
#section2 .box:hover .more_box{margin-top: 50px; background-color: #FFBC00; color: #fff;}

#section2 .inner .box:before {content:"";position:absolute;
                     left:-1px;top:-1px;width:0;height:0;
                     border-top: 4px solid transparent;
                     border-right: 4px solid transparent; 
                     box-sizing: border-box;
                     /*border-top: 4px solid transparent;
                     border-right:4px solid transparent;*/}
#section2 .inner .box:hover:before,
#section2 .inner .box:focus:before{border-color:#FFBC00;  
                             width: calc(100% + 2px); height: calc(100% + 2px);
                             transition: width 0.4s, height 0.4s 0.4s;}
#section2 .inner .box .more_box{display: block; transition: 0.4s;}                                          
#section2 .inner .box:after {content:""; position:absolute; 
                     right:1px; bottom:-1px; width:0; height:0; 
                     box-sizing: border-box;
                     border-bottom:4px solid transparent; 
                     border-left:4px solid transparent;} 
#section2 .inner .box:hover:after,
#section2 .inner .box:focus:after{border-color:#FFBC00; 
                            width: 100%; height: 100%; 
                            transition: width 0.4s, height 0.4s 0.4s;}          
#section2 .box .img_box{width: 100px; height: 120px; margin-left: 100px; margin-top: 45px;}
#section2 .box .img_box img{width: 100px ; height: 120px ;}
#section2 .box .t_txt{font-size: 1rem; font-weight: 800; text-align: center; margin-top: 10px; color: #000;}
#section2 .box .b_txt{font-size: 0.8rem; text-align: center; margin-top: 10px; color: #727272;}
#section2 .box .more_box{width: 100px; height: 40px; color: #FFBC00;
                         border: 1px solid #ccc; margin-top: 20px; margin-left: 100px;} 
#section2 .box .more_box a{font-size: 0.9rem; line-height: 40px; margin-left: 15px;}  
/*********************section2****************************/

/*********************section3****************************/
#section3{margin-top: 110px; height: 650px; background-color: cornsilk; }
#section3::after{content: ''; display: block; clear: both;}
#section3 h2{padding-top: 70px; text-align: center;}
#section3 h3{margin-top: 20px; text-align: center;}


#section3 .regular {width: 100%; min-width: 1024px; margin: 30px auto; padding: 0;}
#section3 .regular .slick-slide {width: 100%; margin: 0 20px; position: relative; }
#section3 .regular .slick-slide img{width: 100%;  margin: 0 auto; border-radius: 30px;} 
#section3 .regular .txt1{ width:100%; height: calc(100% - 3px);  
                         position: absolute; top: 0; left: 0; overflow: hidden; border-radius: 30px; }
#section3 .regular .txt1 .txt1_01{font-weight: 600; text-align: center; font-size: 2rem; 
                                   color: #fff; margin-top: 90px; overflow: hidden;}
#section3 .regular .txt1 .txt1_02{text-align: center; font-size: 1rem; color: #fff;
                                   margin-top: 30px; line-height: 25px; overflow: hidden;}   
#section3 .regular span{border: 1px solid #fff; color: #fff; margin-left: 250px; 
                        line-height: 150px; padding: 7px 7px 7px 7px ;}
#section3 .regular span:hover{background-color: #fff; color: #121212;}                        
#section3 .regular span a{text-align: center; font-size: 1rem; }                                                          
                    

#section3 .regular div .txt1{transition: 0.8s; opacity: 0.8; background-color: #808080; }
#section3 .slick-arrow{position: absolute; top: 40%; z-index: 9999;
       width: 100px; height: 50px; background: none; 
       border: 2px solid transparent; display: block;
       text-indent: -999999px;}
#section3 .slick-prev{left:-80px; background: url("../images/left.png") no-repeat 0 50%;}
#section3 .slick-next{right:-95px; background: url("../images/right.png") no-repeat 0 50%;}

#section3 .slick-dots{position: absolute; bottom:-50px; 
      width: 100%; text-align: center; }
#section3 .slick-dots li{display: inline-block; margin:0 5px; }
#section3 .slick-dots li button{display: block; border: 1px solid #FFBC00;
                                text-indent: -999999px;
                                width: 15px; height: 15px;
                                border-radius: 50%;
                                background-color: rgba(255, 255, 255, 0.8);}
#section3 .slick-dots li.slick-active button{background-color: #FFBC00;}
/*************************section4***********************/
#section4::after{content: ''; display: block; clear: both;}
#section4 .inner .sec4_tit{margin-top: 70px; width: 270px; height: 400px; 
                           background: url("../images/sec4_img.png")no-repeat 0 50%; 
                           position: relative; z-index: 999999999999;}


/*#section4 .inner .sec4_tit .sec4_more a{ line-height: 30px;}
#section4 .inner .sec4_tit .sec4_more{text-align: center;
                                      width: 70px; height: 30px; background-color: #fff;
                                      float: right; margin-top: 20px; margin-right: 10px;}*/
#section4 .sec4_slide {width: calc(100% - 280px); float: right; margin-left: 20px; 
                       margin-bottom: 110px; position: relative;}
#section4 h2{margin-left: 30px; margin-top: -403px; margin-bottom: 20px;}
#section4 h3{margin-left: 30px; margin-bottom: 20px;}

#section4 .center div{margin-left: 20px; width: 100%; margin-top: 27px;}
#section4 .slick-list{position: relative;left:-120px}
#section4 .slick-arrow{position: absolute; top: -10px; z-index: 9999;
       width: 50px; height:30px; background: none; margin-left: 30px;
       border: 2px solid transparent; display: block;
       text-indent: -999999px; margin-top: 30px;
       background-size:100%;background-position:0 50%;
       background-repeat:no-repeat;}
      
#section4 .slick-prev{left:0px; background-image: url("../images/left.png");}
#section4 .slick-next{left:70px; background-image: url("../images/right.png"); }

/*#section4 .slick-dots{position: absolute; bottom:-50px; 
      width: 100%; text-align: center; display: none; }*/
#section4 .slick-dots li{display: inline-block; margin:0 5px; }
#section4 .slick-dots li button{display: block; border: 1px solid #FFBC00;
               text-indent: -999999px;
               width: 15px; height: 15px;
               border-radius: 50%;
               background-color: rgba(255, 255, 255, 0.8);}
#section4 .slick-dots li.slick-active button{background-color: #FFBC00);}

/*********************section5****************************/
#section5::after{content: ''; display: block; clear: both;}
#section5{background-image: url(../images/thumnail.jpg);
          background-position: center;
          background-repeat: no-repeat;}
#section5 .video_box{width: 800px; margin: 0 auto;}
#section5 .video_box img{width: 100%;}
/*********************section5****************************/

/*********************section6****************************/
#section6::after{content: ''; display: block; clear: both;}
#section6 h2{text-align: center; margin-top: 70px;}
#section6 h3{text-align: center; margin-top: 20px;}
#section6 .event_box{float: left; margin-top: 30px; margin-left: 150px; margin-bottom: 110px;}
#section6 .event_box li{width: calc((100% - 40px) / 3); margin-left: 20px; float: left; }
#section6 .event_box li > a{display: block; width:100%; overflow: hidden;}
#section6 .event_box li:first-child{margin-left: 0;}
#section6 .event_box li img{transition: all 0.8s;width:100%;}
#section6 .event_box li:hover img{transform: scale(1.3);}
#section6 .event_box li .box_tit{font-weight: 700; font-size: 1.2rem; margin-top: 10px;}
#section6 .event_box li p{margin-top: 10px;}
/*#section6 .event_box .scale{transition: all 0.8s;  transform: scale(0.9);}
#section6 .event_box .smaller{ transition: all 0.8s;transform: scale(1);}*/
/*********************section6****************************/



/*********************footer****************************/
#footer::after{content: ''; display: block; clear: both;}
#footer{width: 100%; height: 150px; background-color: rgb(44, 44, 44);
       opacity: 0.8;}
#footer .logo_box{width: 150px; line-height: 10px;  padding-top: 20px;}
#footer .logo_box img{width: 100%;}
#footer .footer_box{margin-left: 20px;}
#footer .footer_box .t_footer{float: left; margin-top: 10px; font-size: 0.9rem;  }
#footer .t_footer a{border-right: 1px solid #fff; 
                    padding-right: 5px;
                    margin-right: 5px; 
                    line-height: 2rem;
                    font-weight: normal;
                    color: #ffffff;}
#footer .t_footer a:last-child{border-right: 0;} 
#footer .b_footer{float: left; margin-left: 10px; margin-top: 20px; font-size: 0.9rem;
                  color: #fff;}                   